{% extends "base.html" %}
{% block title %}All Funds{% endblock %}

{% block app_content %}
  <div class="container">
    <h2>ETFs Tracked: {{ funds|length }}</h2>
    <div class="row">
      <table class="table table-hover table-condensed">
        <thead>
          <tr class="text-left">
            <th>Ticker</th>
            <th>Name</th>
            <th>Issuer</th>
            <th>Segment</th>
          </tr>
        </thead>
        <tbody>
          {% for fund in funds %}
            <tr class="text-left">
              <td><a href="{{ url_for('funds.display_fund', ticker=fund.ticker) }}">{{fund.ticker}}</a></td>
              <td>{{fund.name}}</td>
              <td></td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
